/* Notes-css */

body{
background-image: url(https://img.freepik.com/free-vector/gradient-blue-background_23-2149333533.jpg);
background-repeat: no-repeat;
background-size: 100% 100%;
display: flex;
flex-direction: column;
align-items: center;
justify-content:center ;

}
.notes-main{
  
    margin: 25px;
  width: 1000px;
  }
  
  .blank-space{
    background-color: black;
    height: 70px;
    color: white;
    display: flex;
  }
  .blank-space p {
  margin: 20px;
  font-size: 25px;
  }
  
  textarea{
  height: 600px;
  resize: none;
  background-color: white;
  padding: 0%;
  border: 0;
  
  width: 100%;
  }
  
  
  .notes-title{
    background-color: black;
    height: 50px;
    width: 200px;
    margin: 25px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    cursor: pointer;
  }
  
  .notes-all{
    display: flex;
    flex-direction: column;
  }
  
  .save-button , .delete-button{
    background-color: black;
    color: white;
    height: 30px;
    font-size: large;
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    cursor: pointer;
  }
  .notes-title-name{
    background-color: black;
    color: white;
    height: 30px;
    font-size: large;
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
  
  }