@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap'); 


.box {
  border: 1px solid #dfdfdf;
  background-color: #fff;
}

.g-btn {
  width: 100% !important;
  height: 40px !important;
  line-height: 40px !important;
  font-size: 15px !important;
}
.g-btn > div,
.g-btn > div > svg {
  width: 40px !important;
  height: 38px !important;
}

body{
  display: flex;
  align-items: center;
  justify-content: center;

}




.main{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: wheat;
}

.timer{
  font-size: 200px;
  color: wheat;
}

.mode{
  font-size: 30px;
  margin: 10px;
}

button{
  color: black;
  margin: 5px;
}

.breaks button{
  background-color: wheat;
}

.focus{
  width: 95%;
  background-color: wheat;
}

